*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover{
  
  border: 1px solid white;
}

body {
    background-image: url("../Poze/background_first_page.png");
    background-color: #cccccc;
    background-size: 100%;
   }

.disk{
  background-image: url("../Poze/disk_login_image.png");
  position: absolute;
  top: 50%; /* IMPORTANT */
  left: 50%; /* IMPORTANT */
  display: block;
   width: 686px;
   height: 868px;
   margin-top: -434px; /* Half the height */
   margin-left: -343px; /* Half the width */
   background-repeat: no-repeat;
   transform: scale(0.8);
  
   
   z-index:-1;
}

.disk .borders
{
    margin-top: 380px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    color:white;
}

.disk .borders form {border: 3px solid #f1f1f1;}

.disk .borders input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.disk .borders button {
  background-color: #262626;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.disk .borders button:hover {
  opacity: 0.8;
}

.disk .borders .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.disk .borders .container {
  padding: 16px;
}

.disk .borders .psw {
  float: right;
  padding-top: 16px;
}
.disk .borders .password{
  float: right;
  padding-top: 16px;
}

/* Full-width input fields */
.disk .borders .signupmodal input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  .disk .borders .signupmodal input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .disk .borders .signupmodal button {
    background-color: #262626;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .disk .borders .signupmodal button:hover {
    opacity:1;
  }

  
  
  /* Extra styles for the cancel button */
  .disk .borders .signupmodal .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .disk .borders .signupmodal .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .disk .borders .signupmodal .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .disk .borders .signupmodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: -1px;
    top: 0;
    width: 686px; /* Full width */
    height: 868px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .disk .borders .signupmodal .modal-content {
    background-color: black;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  .disk .borders .signupmodal hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .disk .borders .signupmodal .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .disk .borders .signupmodal .close:hover,
  .disk .borders .signupmodal .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .disk .borders .signupmodal .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  

 @media screen and (max-width: 620px) {
  .disk
  {
    transform: scale(0.45);
  }

}




