*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* Nu incapea add game langa restul asa ca am scos font-ul
    font-family: 'Courier New', Courier, monospace; */
  }
  /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover{
  
  border: 1px solid white;
}

.show {
  display: block !important; 
}

.disk{
  background-image: url("../Poze/disk_image.png");
  position: absolute;
  top: 50%; /* IMPORTANT */
  left: 50%; /* IMPORTANT */
  display: block;
   width: 686px;
   height: 868px;
   margin-top: -434px; /* Half the height */
   margin-left: -343px; /* Half the width */
   background-repeat: no-repeat;
   transform: scale(0.8);
  
   
   z-index:-1;
}
.disk .button{
  background-image: url("../Poze/open_button.png");
  position: absolute;
  top: 60%;
  left: 50%;
  background-color: transparent;
  width: 230px;
  height: 141px;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.disk .button:hover{
  background-image: url("../Poze/open_button_press.png");
}
.disk_opened_right
{
  background-image: url("../Poze/disk_opened_rightside_image.png");
 
}
.disk_opened_right .content
{  
 margin-right: 17px;
 margin-left: 15px;
}
.disk_opened_right .itemsbar
{ 
  list-style-type: none;
  margin: 25px 16px 10px 10px;
  padding: 5px 10px;
  background-color: black;
}
.disk_opened_right .itemsbar .searchbox
{ 
  float: right;
  
  padding-top: 10px;

}
.disk_opened_right .itemsbar .dropbtn {
  float : left ;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.disk_opened_right .itemsbar .dropdown {
  position: relative;
  display: inline-block;
}
.disk_opened_right .itemsbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  margin-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.beforeload{
  display:none;
}
.preload { 
  background-image : url("../Poze/loading.gif");
  
  position: absolute;
  top: 50%; /* IMPORTANT */
  left: 50%; /* IMPORTANT */
  display: block;
   width: 800px;
   height: 600px;
   margin-top: -300px; /* Half the height */
   margin-left: -400px; /* Half the width */
   transform : scale(0.25);
   background-repeat: no-repeat;

  }

.disk_opened_right .itemsbar .dropdown-content .btn {
  color: white;
  background-color:black ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.disk_opened_right .itemsbar .dropdown-content .btn:hover{
  background-color: white;
  color : black;

}

.disk_opened_right .itemsbar .dropdown-content .btn.active{
  background-color: white;
  color : black;

}

.disk_opened_right .itemsbar .dropdown:hover .dropdown-content {
  display: block;
}


.disk_opened_right .itemsbar button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.disk_opened_right .itemsbar button:hover {
  background: grey;
}

.disk_opened_right .content .left_button
{
  width: 10%;
  margin-top: 300px;
  float:left;
  color:white;
}
.disk_opened_right .content .left_button a
{
  float:left;
  width: 80%;
  content: url("../Poze/left_arrow.png");
}
.disk_opened_right .content .left_button a:hover
{
  content: url("../Poze/left_arrow_hover.png");
}
.disk_opened_right .content .games_gallery
{  
  width: 90%;
  float: right;
  height: 730px;

  /* se vedea un scroll urat - Zaharia
  overflow-y: scroll;
 */

}


.disk_opened_right .content .games_gallery .game
{ 
  position: relative;
  margin: 15px;
  float:left;
  width: 256px;
  height: 144px;
  display : none;


}

.disk_opened_right .content .games_gallery .game:hover .infobtn
{ 

  display:block;

}
.disk_opened_right .content .games_gallery .game:hover .deletebtn
{ 

  display:block;

}

.disk_opened_right .content .games_gallery .game .infobtn
{ 
  position: absolute;
  top:30%;
  left: 10%;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.disk_opened_right .content .games_gallery .game .deletebtn
{ 
  position: absolute;
  top:30%;
  left: 50%;
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.disk_opened_right .content .games_gallery .game img{
  
  opacity: 1;
  width: 256px;
  height: 144px;
  cursor: pointer; 
}
.disk_opened_right .content .games_gallery .game img:hover {
  opacity: 0.8;
}

.disk_opened_left
{
  background-image: url("../Poze/disk_opened_leftside_image.png");
  margin-left: -886px; 

}
.disk_text{
  position: absolute;
   top: 35%;
   left: 40%;
   font-size: 600%;
  
}

body {
  background-image: url("../Poze/background_first_page.png");
  background-color: black;
  background-size: 100%;
 }

#myInput {
 
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding: 12px 20px 12px 40px;
  border-radius: 15px 0px 0px 15px;
  border: 2px solid white;
  margin-bottom: 12px;
  background-color: black;
}
#myInput2 {
 
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding: 12px 20px 12px 40px;
  border-radius: 15px 0 0 15px;
  border: 2px solid white;
  margin-bottom: 12px;
  background-color: black;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}



.AllGames {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.AllGames-content {
  background-color: black;
  margin: auto;
  padding: 20px 0 10px 10px ;
  width: 100%;
  height:868px;
}
.AllGames-content .games_gallery
{  
  width: 90%;
  float: right;
  height: 700px;
  overflow-y: scroll;
 

}


.AllGames-content .games_gallery .game
{ 
  position: relative;
  margin: 15px;
  float:left;
  width: 256px;
  height: 144px;
  display: none;

}
.AllGames-content .games_gallery .game img{

  opacity: 1;
  width: 256px;
  height: 144px;
  cursor: pointer; 
}
.AllGames-content .games_gallery .game .infobtn{
  position: absolute;
  top:30%;
  left: 10%;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}
.AllGames-content .games_gallery .game .addbtn{
  
  position: absolute;
  top:30%;
  left: 60%;
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}
.AllGames-content .games_gallery .game:hover img {
  opacity: 0.8;
}
.AllGames-content .games_gallery .game:hover .addbtn {
  display: block;
}
.AllGames-content .games_gallery .game:hover .infobtn {
  display: block;
}
.AllGames-content .itemsbar
{ 
  list-style-type: none;
  margin: 25px 16px 10px 10px;
  padding: 5px 10px;
  overflow: relative;
  background-color: black;
  


}
.AllGames-content .itemsbar .searchbox
{ 
  float: right;
  
  padding-top: 10px;

}
.AllGames-content .itemsbar .dropbtn {
  float : left ;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 19px;
  border: none;
  cursor: pointer;
}
.AllGames-content .itemsbar .dropdown {
  position: relative;
  display: inline-block;
}
.AllGames-content .itemsbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  margin-top: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.AllGames-content .itemsbar .dropdown-content .btn {
  color: white;
  background-color:black ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.AllGames-content .itemsbar .dropdown:hover .dropdown-content {
  display: block;
}


.AllGames-content .itemsbar button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.AllGames-content .itemsbar button:hover {
  background: grey;
}
.myBtnToAllGames{
  background-color: #000;
  color:white;
  padding: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

 @media screen and (max-width: 620px) {
  .disk
  {
    transform: scale(0.45);
  }
  
  .disk_opened_right
{
  transform: scale(0.45);
}
.disk_opened_left
{
  transform: scale(0.45);
  margin-left: -650px; /* Half the width */
}

}


