*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
  }
  body{
    font-family: montserrat;
    background: url("../Poze/background_first_page.png") ;
  }